@media only screen and (max-width: 1199px) {
    .product {
        width: 48%;
        box-sizing: border-box;
        text-align: center;
        margin: 0 auto;
    }


    /*    footer*/
    .want-order {

        margin-bottom: 15px;
    }
}



/*************************************************************************************************************/

@media only screen and (max-width: 991px) {


    .product {
        width: 100%;
        margin: 0px;
        border: 0.1px solid #e6eaf0;
    }

    .offer {
        width: 230px;
        margin-left: 240px;

    }

    .order {
        position: fixed;
        top: 62px;
    }



    .menu li {
        display: none;
    }

    #logo {
        bottom: 21px;
    }


    #menu-select {
        display: absolut;
        top: 20px;
    }

    .pick-menu {

        padding-left: 15px;
    }



    /*footer*/
    .want-order {

        margin-bottom: 15px;
    }

    /*hlavni stranka******************************/

    .btn {

        width: 22%;

    }

    .alignment {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        align-items: center;
    }

    .border-sec {

        margin-top: 20px;
        width: 69%;

    }

    .border-sec-two {

        margin-top: 20px;
        width: 69%;
    }

    .border {

        text-align: center;
    }

    #menu-select {
        display: inline-block;
        right: 7px;
        position: absolute;
    }
}

/***************************************************************************************************************************/
@media only screen and (max-width: 767px) {

    .offer {
        width: 100%;
        margin-left: 0px;
        margin-top: 118px;
    }

    .product {
        width: 100%;
        max-width: 400px;
        margin-bottom: 7px;
    }

    .side-bar {
        display: none;
    }

    .header h2 {
        text-align: center;
        margin-left: 81px;
        margin-right: 81px;

    }

    .order {
        text-align: center;
        position: fixed;
        background-color: white;
        width: 100%;
        right: 0px;
    }

    p {
        text-align: center;
    }


    .product-wrapper {

        justify-content: center;

    }


    /*    footer*/
    .third {
        width: 100%;
        padding: 7px 10px;
    }

    .two {

        width: 66%;

    }

    .want-order {

        margin-bottom: 14px;
    }



    /*    HLAVNI STRANKA*************/

    .btn {

        width: 22%;

    }

    .alignment {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        align-items: center;
    }

    .border-sec {

        margin-top: 20px;
        width: 69%;

    }

    .border-sec-two {

        margin-top: 20px;
        width: 69%;
    }

    .border {

        text-align: center;
    }

    #menu-select {
        display: inline-block;
        right: 7px;
        position: absolute;
    }
}


/*ddd************************************************************************************************/
@media only screen and (max-width: 575px) {
    .side-bar {
        display: none;

    }

    .order {
        text-align: center;
        position: fixed;
        background-color: white;
        width: 100%;
        right: 0px;
    }



    .header h2 {
        text-align: center;
        margin-left: 81px;
        margin-right: 81px;
        margin-top: 124px;
    }



    .offer {
        width: 483px;
        margin: 0 auto;

    }

    .product {
        width: 100%;

    }


    p {
        padding: 0px;
    }


    .product img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }




    #menu-select {
        display: inline-block;
        right: 7px;
        position: absolute;
    }




    /*FOOTER*/
    .all-info {
        display: block;
    }

    .info {
        text-align: center;
        padding-top: 1px;
    }

    .third {
        width: 100%;
        margin-top: 23px;
        margin-bottom: 0;

    }

    .one {

        width: 104%;
    }

    .want-order {

        margin-bottom: 9px;
    }

    .finish {
        display: block;
        text-align: center;
    }

    .border {
        border-bottom: 2px solid white;
    }

    hr {
        display: none;
    }


    /*    HLAVNI STRANKA***************/

    .btn {


        width: 24%;


    }

    .alignment {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .border-sec {

        margin-top: 20px;
        width: 88%;

    }

    .border-sec-two {

        margin-top: 20px;
        width: 88%;
    }

    .border {

        text-align: center;
    }
}
